{% extends 'layout.html' %} 

{% block content %}

<div class="quiz_create">
    <h3> 퀴즈 생성하기</h3>
</div>
<div class="user_name">
    <h5>현재 사용자: {{  }} </h5>
</div>
<hr>
<div class="title_create">
    <h5>Title: </h5>
    <hr class="one">
</div>
<form action="/action_page.php">
{% for in %}
    <p>{{ .question_text }}</p>
    {% for in %}
    <input type="radio" id="{{  }}" name="{%  %}" >
    <label for="male"> {{  .choice_text }} </label>
    {% endfor %}
{% endfor %}
<hr>





{% endblock %}